engine-strict=true
fetch-retry-mintimeout=2000
fetch-retry-maxtimeout=10000
registry=https://alayacare-406883902139.d.codeartifact.us-east-1.amazonaws.com/npm/alaya-npm/
//alayacare-406883902139.d.codeartifact.us-east-1.amazonaws.com/npm/alaya-npm/:always-auth=true
